body.white{
  background-color: white;
  color:black;
}
body.black{
  background-color: black;
  color:white;
}
body.blue{
  background-color: blue;
  color:black;
}
h1{
border-bottom: 1px solid gray;
padding-bottom: 10px;
padding-left: 15px;
}
ul{
     border-right: 1px solid gray;
     width: 200px;
     float:left;
   }

   #article{
     width:400px;
     float:left;
   }
